.bg-cover {
    background-image: url("../images/bg.jpeg");
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

p {
    color: red
}

p2 {
    color: white
}

.about {
    padding: 8px;
}

img {
    height: 250px;
    width: 250px;
    border: black;
    border-radius: 25px;
}

.column {
    float: left;
    margin: 10px;
    width: 22%;
}

.card {
    padding: 10 16px 0 16px;
    align-items: center;
    border: black;
    border-radius: 25px;
}