.bg-cover {
    background-image: url("../images/navy.jpeg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: rgb(247, 239, 225);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.input {
    margin-bottom: 10px;
}

img {
    max-width: 600px;
    max-height: 400px;
    margin: auto;
}