.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.bg-cover {
    background-image: url("../images/navy.jpeg");
    height: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
}

#prof-display {
    display: block;
    width: 150px;
    margin: 10px auto;
    border-radius: 50%;
}

#uname-style {
    font-size: 20px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
    color: red;
}