.bg-cover {
    background-image: url("../images/bg.jpeg");
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: repeat;
}

.container {
    width: 50%;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.signup-form {
    border-radius: 50px;
    background-color: rgb(247, 239, 225);
    padding: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}